
/****** reset styles ***/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@import "variables";
html {
  color: #000;
  background: #FFF
}

* {
  tap-highlight-color: transparent !important;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td, a, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
  font: inherit;
}

b, strong {
  font-weight: 700;
}

del, ins {
  text-decoration: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}


label {
  font-weight: 500;
  margin-bottom: 0;
}

svg {
  transition: fill 0.3s ease;
}

/*** Content ***/ 

body {
  margin: 35px auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;

  color: #000;
  background-color: #FFF;

}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;

  padding:10px 46px;
 
  color: #FFF;
  
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
}

.btn:hover {
  color:#FB8F1D;

  background-color: #fff;
}

.h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 1.25;

  color: #202336;
}

/*** Header **/

/** Navigation **/

.navigation {
  margin-bottom: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navigation-logo {
  margin-right: 35px;
}

.navigation-logo:hover {
  opacity: 0.6;
}


.navigation-right-nav {
  display: flex;
  align-items: center;
}

.navigation-right-nav-list {
  display: flex;
}

.navigation-right-nav-list li {
  margin-right: 35px;

  font-size: 16px;
  line-height: 19px;

  color: #B8BECD;
}

.navigation-right-nav-list li:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #202336;
}

.navigation-right-nav-list li a:hover {
  text-decoration: underline;
}

.navigation-right-nav-button {
  display: flex;
}

.navigation-right-nav-button-log {
  margin-right: 18px;
}

.navigation-right-nav-button-reg .btn {
  padding: 10px 36px;
}

/**Header Finder**/

.explore-flex {
  display: flex;

  margin-bottom: 350px;
}

.explore {
  position: relative;

  width: 470px;
  
  margin-right: 35px;
}

.explore-img {
  position: relative;
  width: 687px;
}

.explore-img-turist {
  min-width: 221px;
  width: 100%;
  position: absolute;
  right: -85px;

}

.explore-img .circle {
  position: absolute;
  left: 0;
  bottom: 0;
}


.h1 {
  margin-bottom: 74px;
}

.form > .h2 {
  position: relative;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 71px;
  color:#202336;
}

.form > .h2::after {
  position: absolute;
  left: 0;
  top: 48px;
  content: "";
  width: 32px;
  height: 2px;
  border-radius: 4px;
  background-color: #202336;
  
}

.form-flex {
  display: flex;
  justify-content: space-between;
}

.select {
  width: 220px;
  height: 52px; 
  line-height: 2.13;

  color: #4A4C53;

  padding: 0px 20px;

  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
}
.select-mright {
  margin-right: 30px;
}

.form-flex-1 {
  margin-bottom: 35px;
}

.form-flex-2 {
  margin-bottom: 50px;
}

.form .btn {
  width: 180px;
  height: 52px;
}

.explore .plus {
  position: absolute;
  top: 30px;
  right: -15px;
}

.explore .circle {
  position: absolute;
  top: 280px;
  left: -110px;
  transform: scale(1.3);
}

/****Section-2****/

.section-2 {
  display: flex;
  justify-content: space-between;

  padding: 0 30px 0 10px;
  margin-bottom: 285px;
}

.section-2-flex {
  position: relative;
  width: 612px;
  margin-right: 100px;
}

.section-2-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 0;
}

.section-2-section {
  width: 470px;
  margin-top: 80px;

  position: relative;
}

.h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}

.section-2-section .h2 {
  margin-bottom: 20px;
  }

 .section-2-section p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;

  width: 470px;
  margin-bottom: 35px;

  color: #7D7987;
 }

.section-2-section-plus {
  position: absolute;
  top: -110px;
  left: -72px;

  transform: rotateZ(7deg);
 }

.section-2-section-circle {
  position: absolute;
  bottom: 40px;
  left: 326px;
 }

/***Section3****/

.section-3-title {
  padding: 0 50px;
  flex-wrap: wrap;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-3-title {
  margin-bottom: 56px;
}

.section-3-title-view {
 position: relative;
}
.section-3-title-view-circle {
  position: absolute;
  top: -10px;
  left: -90px;
}

.section-3-title .h2 {
  margin-right: 10px ;
}


.section-3-title-all {
 color: #FB8F1D;
 font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
}

.section-3-title-all:hover {
  opacity: 0.6;
  color: #FB8F1D;
}

.section-3-flex {
  padding: 0px 25px 0px 50px;
  margin-bottom: 235px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

  position: relative;
}

.section-3-flex-plus {
  position: absolute;
  transform: rotateZ(7deg);
  top: 60%;
  left: -30px;
}
.section-3-flex-circle {
  position: absolute;
  left: 45%;
  bottom: -40px;
}

.section-3-flex-a {
  margin: 0 25px 25px 0px;
  position: relative;
}


.section-3-flex-a img{
  width: 261px;
  height: 337px;

  
  border-radius: 8px;
}

.section-3-a-signature {
  width: 120px;
  height: 56px;

  background: #fff;

  border-radius: 0 6px 0 6px;

  position: absolute;
  left: -1;
  bottom: -1;
}

.section-3-a-signature p{
  padding-top: 10px;

  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #042521;
}
.section-3-a-signature span {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #80918E;
}

/****Section4***/

.section-4 {
  display: flex;
  justify-content: space-between;

  padding: 0 50px;
  margin-bottom: 250px;
}

.section-4-flex {
  position: relative;
  width: 600px;
}

.section-4-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 0;
}

.section-4-section {
  width: 404px;
  margin-top: 150px;

  position: relative;
}

.h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}

.section-4-section .h2 {
  margin-bottom: 20px;
  }

 .section-4-section p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;

  width: 404px;
  margin-bottom: 35px;

  color: #7D7987;
 }

.section-4-section-plus {
  position: absolute;
  bottom: 5px;
  left: 420px;

  transform: rotateZ(14deg);
 }

.section-4-section-circle {
  position: absolute;
  top: -45px;
  left: 45px;
 }

.section-4-flex-plus {
  position: absolute;
  top: 20px;
  right: -20px;
  transform: rotateZ(14deg) scale(0.8);
}

/***Section-5***/

.section-5 {
  padding: 0 50px;
  margin-bottom: 250px;
}

.section-5 > .h2 {
  margin-bottom: 45px;
}

.section-5-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-5-flex-section {
  margin: 100px 25px 25px 0;

  width: 450px;
}

.section-5-flex-section-star ul li {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 30px;
}

.section-5-flex-section-figure {
  font-family: "Mulish", sans-serif;
 font-size: 24px;
 line-height: 36px;
}

.section-5-flex-section-figure blockquote {
  margin-bottom: 30px;
}

.section-5-flex-section-figure-figcaption h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
}

.section-5-flex-section-figure-figcaption p {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 48px;

  color: rgba(0, 0, 0, 0.85);
}

.section-5-flex-photo {
  position: relative;
}

.section-5-flex-photo-photo {
  position: relative;
  z-index: 2;

  border-radius: 14px;
  background: #C4C4C4;
}

.section-5-flex-photo-scroll {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;

  width: 132px;
  height: 60px;

  border-radius: 16px 0px 0px 0px;
  background-color: #FFF;

  display: flex;
  align-items: end;
  justify-content: end;
}

.section-5-flex-photo-scroll button {
  background: none;
  border: none;
  align-items: flex-end;
}

.section-5-flex-photo-scroll button:first-child {
  margin-right: 20px;
}

.section-5-flex-photo-scroll button:hover {
  opacity: 0.5;
}

.section-5-flex-photo-scroll-plus {
  position: absolute;
  left: -7px;
  bottom: -7px;
  transform: rotate(8deg) scale(1.5);
  z-index: 3;
}

.section-5-flex-photo-scroll-circle {
  position: absolute;
  right: -6px;
  top: -6px;
  transform: scale(1.6);
  z-index: 1;
}

