
/****** reset styles ***/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@import "variables";
html {
  color: #000;
  background: #FFF
}

* {
  tap-highlight-color: transparent !important;
}

/*
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td, a, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
*/

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
  font: inherit;
}

b, strong {
  font-weight: 700;
}

del, ins {
  text-decoration: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}


label {
  font-weight: 500;
  margin-bottom: 0;
}

svg {
  transition: fill 0.3s ease;
}

/*** Content ***/ 

/*** Header **/

body {
  margin: 35px auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;

  color: #000;
  background-color: #FFF;

}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding:8px 46px;
 
  color: #FFF;
  
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
}

.btn:hover {
  color:#FB8F1D;

  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  
}

.navigation-logo {
  position: relative;
  margin-right: 35px;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-right {
  margin-top: 10px;
}

.navigation-right-nav {
  display: flex;
}

.navigation-right-nav-list {
  display: flex;
}

.navigation-right-nav-list li {
  margin-right: 35px;

  font-size: 16px;
  line-height: 19px;

  color: #B8BECD;
}

.navigation-right-nav-list li:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #202336;
}

.navigation-right-nav-list li a:hover {
  text-decoration: underline;
}

.navigation-right-nav-button {
  display: flex;
}

.navigation-right-nav-button-log {
  margin-right: 18px;
}

.navigation-right-nav-button-reg .btn {
  padding: 8px 36px;
}

